
<script type="text/javascript" src="/javascripts/raphael-min.js"></script>
<script type="text/javascript" src="/javascripts/Grapher.js"></script>
<script type="text/javascript" charset="utf-8">
  Grapher([% article_id %])
</script>
